{extend name="layout:home" /}

{block name="container"}
<form class="layui-form" method="post" enctype="multipart/form-data">
    <div class="layui-tab layui-tab-card">
        {include file="strategy/info_title" /}
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show ">
                <div class="layui-collapse">
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">基本设置</h2>
                        <div class="layui-colla-content layui-show">
                            <div class="my_black">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">策略名称：</label>
                                    <div class="layui-input-block">
                                        <span class="my_label">{$strategy_info.strategy_name}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="my_black">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">审核状态：</label>
                                    <div class="layui-input-block">
                                        <span class="my_label">
                                            {switch name="$strategy_info.review_status" }
                                                {case value="1"}<font color="#deb887">待审核</font>{/case}
                                                {case value="0"}<font color="green">通过</font>{/case}
                                                {case value="2"}<font color="#dc143c">驳回</font>{/case}
                                            {/switch}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="my_black">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">策略ID：</label>
                                    <div class="layui-input-block">
                                        <span class="my_label">{$strategy_info.strategy_id}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="my_black">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">更新时间：</label>
                                    <div class="layui-input-block">
                                        <span class="my_label">{$strategy_info.update_time}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item"></div>
                        </div>
                    </div>
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">策略详情</h2>
                        <div class="layui-colla-content layui-show">
                            <div class="my_black_two">
                                <p class="p1">实盘收益率</p>
                                <p class="p2">
                                    {if condition="strtoupper($strategy_info['real_ratio']) lt 0"}
                                        <font color="green">{$strategy_info.real_ratio}%</font>
                                    {else /}
                                        <font color="#dc143c">{$strategy_info.real_ratio}%</font>
                                    {/if}
                                </p>
                            </div>
                            <div class="my_black_two">
                                <p class="p1">年化收益率</p>
                                <p class="p2">
                                    {if condition="strtoupper($strategy_info['annualized_ratio']) lt 0"}
                                    <font color="green">{$strategy_info.annualized_ratio}%</font>
                                    {else /}
                                    <font color="#dc143c">{$strategy_info.annualized_ratio}%</font>
                                    {/if}
                                </p>
                            </div>
                            <div class="my_black_two">
                                <p class="p1">年化波动率</p>
                                <p class="p2">
                                    {if condition="strtoupper($strategy_info['annualized_volatility']) lt 0"}
                                    <font color="green">{$strategy_info.annualized_volatility}%</font>
                                    {else /}
                                    <font color="#dc143c">{$strategy_info.annualized_volatility}%</font>
                                    {/if}
                                </p>
                            </div>
                            <div class="my_black_two">
                                <p class="p1">月度利润率</p>
                                <p class="p2">
                                    {if condition="strtoupper($strategy_info['profit_ratio_monthly']) lt 0"}
                                    <font color="green">{$strategy_info.profit_ratio_monthly}%</font>
                                    {else /}
                                    <font color="#dc143c">{$strategy_info.profit_ratio_monthly}%</font>
                                    {/if}
                                </p>
                            </div>
                            <div class="my_black_two">
                                <p class="p1">年化超额收益率</p>
                                <p class="p2">
                                    {if condition="strtoupper($strategy_info['sharpe_ratio']) lt 0"}
                                    <font color="green">{$strategy_info.sharpe_ratio}%</font>
                                    {else /}
                                    <font color="#dc143c">{$strategy_info.sharpe_ratio}%</font>
                                    {/if}
                                </p>
                            </div>
                            <div class="my_black_two">
                                <p class="p1">策略状态</p>
                                <p class="p2">
                                    {switch name="$strategy_info.strategy_status" }
                                    {case value="0"}<font color="green">上架</font>{/case}
                                    {case value="1"}<font color="red">下架</font>{/case}
                                    {/switch}</p>
                            </div>
                            <div class="layui-form-item"></div>

                            <div class="my_black_two">
                                <p class="p1">当日收益率</p>
                                <p class="p2">
                                    {if condition="strtoupper($strategy_info['daily_ratio']) lt 0"}
                                    <font color="green">{$strategy_info.daily_ratio}%</font>
                                    {else /}
                                    <font color="#dc143c">{$strategy_info.daily_ratio}%</font>
                                    {/if}
                                </p>
                            </div>
                            <div class="my_black_two">
                                <p class="p1">当日净值</p>

                                <p class="p2">{$strategy_info.net_value}</p>
                            </div>
                            <div class="my_black_two">
                                <p class="p1">标的指数</p>
                                <p class="p2">{$strategy_info.sub_index}</p>
                            </div>
                            <div class="my_black_two">
                                <p class="p1">调仓周期</p>
                                <p class="p2">{$strategy_info.adjust_cycle|default = '--'}</p>
                            </div>
                            <div class="my_black_two">
                                <p class="p1">持仓证券数量</p>
                                <p class="p2">{$strategy_info.hold_secu_num|default = '--'}只</p>
                            </div>
                            <div class="my_black_two">
                                <p class="p1">最新净值日期</p>
                                <p class="p2">{$strategy_info.net_value_date|default = '--'}</p>
                            </div>
                            <div class="layui-form-item"></div>
                        </div>
                    </div>
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">策略简介</h2>
                        <div class="layui-colla-content layui-show">
                            <div class="my_black_three">
                                <p>
                                    {$strategy_info.strategy_describe|default = '--'}
                                </p>
                            </div>
                        </div>
                        <div class="layui-form-item"></div>
                    </div>
                    <div class="layui-colla-item">
                        <div class="myDqtc">
                            <span class="dqtc">当期调仓</span>
                            <div class="layui-inline">
                                <label class="layui-form-label">历史调仓</label>
                                <div class="layui-input-inline">
                                    <select name="modules" lay-verify="required" lay-search="" id = 'dataReload'  lay-filter="modules">
                                        {volist name="periods_date_list" id="periods_date"}
                                            <option value="{$periods_date}">{$periods_date}</option>
                                        {/volist}
                                    </select>

                                </div>
                                <input type="button" class="layui-btn" data-type="reload" value="搜索">
                            </div>
                        </div>

                        <div class="layui-colla-content layui-show">
                            <table class="layui-hide" id="test"></table>
                            <script type="text/html" id="trade_direction">
                                {{#  if(d.trade_direction == '买入'){ }}
                                <span style="color: red;">{{ d.trade_direction }}</span>
                                {{#  } else if(d.trade_direction == '卖出') { }}
                                <span style="color: green;">{{ d.trade_direction }}</span>
                                {{#  } else{ }}
                                {{ d.trade_direction }}
                                {{#  } }}
                            </script>
                        </div>
                        <div class="layui-form-item"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    layui.use('element', function () {
        var element = layui.element;
    });
    layui.use('form', function () {
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#news_addtime' //指定元素
        });
    });
</script>

<script>
    layui.use('form', function () {
        var form = layui.form;
    });
    layui.use('element', function () {
        var element = layui.element;
    });
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        laydate.render({
            elem: '#news_addtime'
        });
    });


</script>
<script>
    layui.use('table', function(){
        var table = layui.table;
        //方法级渲染
        table.render({
            elem: '#test'
            ,url: "{:url('strategy/getStrategyHold', ['strategy_id'=>$strategy_info.strategy_id])}"
            ,cols: [[
                {field: 'id', width: 80, title: '序号', style:'text-align: center;'}
                , {field: 'secu_name', title: '证券名称', style:'text-align: center;'}
                , {field: 'secu_code', title: '证券代码', style:'text-align: center;'}
                , {field: 'pre_hold', title: '调整前持仓', sort: true, style:'text-align: center;'}
                , {field: 'adjust_num', title: '当期调整手数', sort: true, style:'text-align: center;'}
                , {field: 'trade_direction', title: '买卖方向', sort: true, templet: '#trade_direction', style:'text-align: center;'}
                , {field: 'adjust_hold', title: '调整后持仓', sort: true, style:'text-align: center;'}
                , {field: 'periods_date', title: '当前期数', style:'text-align: center;'}
            ]]
            ,id: 'test'
            ,page: false
        });

        var $ = layui.$, active = {
            reload: function(){
                var dataReload = $('#dataReload');
                //执行重载
                table.reload('test', {
                    where: {
                        periods_date:dataReload.val()
                    }
                }, 'data');
            }
        };

        $('.layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>

{/block}



