{extend name="layout:home" /}

{block name="container"}
<form class="layui-form layui-form-pane" id="formSubmit" method="post">
    <div class="layui-tab layui-tab-card">
        <div class="layui-tab-content page-tab-content">
                <div class="layui-tab-item layui-show ">
                    <!--<div class="layui-form-item">-->
                        <!--<label class="layui-form-label">审核结果：</label>-->
                        <!--<div class="layui-input-block">-->
                            <!--<input type="radio" name="review_status" value="0" title="审核通过" checked="">-->
                            <!--<input type="radio" name="review_status" value="2" title="驳回">-->
                        <!--</div>-->
                    <!--</div>-->
                    <input type="hidden" name="review_status" id = 'review_status' value="0">
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <textarea placeholder="请输入内容" class="layui-textarea" name="review_describe"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            {if condition="($strategyInfo['review_status'] eq 0) "}
                                <input type="button" class="layui-btn layui-btn-disabled" disabled = 'true' lay-submit value="审核通过" style="width: 110px" />
                                <input type="button" class="layui-btn layui-btn-normal" onclick="submitForm(2)" style="width: 110px" lay-submit value="驳回" />
                                {elseif condition="$strategyInfo['review_status'] eq 2" /}
                                <input type="button" class="layui-btn layui-btn-normal" onclick="submitForm(1)" style="width: 110px" lay-submit value="审核通过" />
                                <input type="button" class="layui-btn layui-btn-disabled" disabled="true" style="width: 110px"layui-layer layui-layer-iframe lay-submit value="驳回" />
                                {else /}
                                <input type="button" class="layui-btn layui-btn-normal" onclick="submitForm(1)" style="width: 110px" lay-submit value="审核通过" />
                                <input type="button" class="layui-btn layui-btn-normal" onclick="submitForm(2)" style="width: 110px" lay-submit value="驳回" />

                            {/if}


                        </div>
                    </div>
                </div>
        </div>
    </div>
</form>
<script>
    function submitForm(review_status)
    {
        $("#review_status").val(review_status);
        $("#formSubmit").submit();
    }
    layui.use('form', function() {
        var form = layui.form;
    });
</script>
{/block}



