{extend name="layout:home" /}
{block name="container"}
<div class="layui-tab layui-tab-card">
    {include file="monitor/index_title" /}
    <div>

    </div>
    <div class="layui-tab-content page-tab-content">
        <div class="layui-colla-content layui-show">
            <table class="layui-hide" id="test"></table>
            <script type="text/html" id="direction">
                {{#  if(d.direction == '买入'){ }}
                <span style="color: red;">{{ d.direction }}</span>
                {{#  } else if(d.direction == '卖出') { }}
                <span style="color: green;">{{ d.direction }}</span>
                {{#  } else{ }}
                {{ d.direction }}
                {{#  } }}
            </script>
            <script type="text/html" id="offset">
                {{#  if(d.offset == '平仓'){ }}
                <span style="color: red;">{{ d.offset }}</span>
                {{#  } else if(d.offset == '开仓') { }}
                <span style="color: green;">{{ d.offset }}</span>
                {{#  } else{ }}
                {{ d.offset }}
                {{#  } }}
            </script>
        </div>
    </div>
</div>
<script type="text/javascript" src="{$Think.ADMIN_SITE_ROOT}/js/jquery.edit.js"></script>


<script>
    /**
     * Layer 通用ifram弹出窗口
     */
    function dsLayerOpen(url, title,width,height) {
        if (!width)	width = '500px';
        if (!height) height = '345px';
        layer.open({
            type: 2,
            title: title,
            area: [width,height],
            fixed: false, //不固定
            maxmin: true,
            content: url
        });
    }
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#news_addtime' //指定元素
        });
    });
</script>

<script>
    layui.use('form', function () {
        var form = layui.form;
    });

    layui.use('laydate', function(){
        var laydate = layui.laydate;
        laydate.render({
            elem: '#news_addtime'
        });
    });


</script>
<script>
    var counts = 0;
    layui.use('table', function(){
        var table = layui.table;
        //方法级渲染
        table.render({
            elem: '#test'
            ,url: "{:url('monitor/getDailySignalList')}"
            ,cols: [[
                {field: 'id', title: '序号', style:'text-align: center;', width:80}
                , {field: 'strategy_name', title: '策略名称', style:'text-align: center;', width:300}
                , {field: 'secu_code', title: '证券代码', style:'text-align: center;'}
                , {field: 'direction', title: '买卖', templet: '#direction', style:'text-align: center;'}
                , {field: 'offset', title: '开平仓',  templet: '#offset', style:'text-align: center;'}
                , {field: 'price', title: '价格', style:'text-align: center;'}
                , {field: 'signal_time', title: '信号时间', style:'text-align: center;', width:200}
            ]]
            ,id: 'test'
            ,page: true
            ,height:500
        });

        var $ = layui.$, active = {
            reload: function(){
                //执行重载
                table.reload('test', {
                    where: {
                    }
                }, 'data');
            }
        };

        var t2 = window.setInterval(function() {
            $.ajax({
                //请求方式
                type : "POST",
                //请求的媒体类型
                contentType: "application/json;charset=UTF-8",
                //请求地址
                url : "{:url('monitor/getCount')}",
                //数据，json字符串
                data : {},
                //请求成功
                success : function(result) {
                    if(counts == 0) {
                        counts = result.count;
                    }
                    if(counts != result.count) {
                        var type = 'reload';
                        active[type] ? active[type].call(this) : '';
                        counts = result.count;
                    }
                },
            });
            // console.log('每隔1秒钟执行一次')
            // var type = 'reload';
            // active[type] ? active[type].call(this) : '';
        },5000)
    });


</script>
{/block}