{extend name="layout:home" /}
{block name="container"}
<div class="layui-tab layui-tab-card">
    {include file="monitor/index_title" /}
    <div>

    </div>
    <div class="layui-tab-content page-tab-content">
        <div class="layui-colla-content layui-show">
            <table class="layui-hide" id="test"></table>
            <script type="text/html" id="direction">
                {{#  if(d.direction == '买入'){ }}
                <span style="color: red;">{{ d.direction }}</span>
                {{#  } else if(d.direction == '卖出') { }}
                <span style="color: green;">{{ d.direction }}</span>
                {{#  } else{ }}
                {{ d.direction }}
                {{#  } }}
            </script>
            <script type="text/html" id="adjust_num">
                {{#  if(d.direction == '买入'){ }}
                <span style="color: red;">{{ d.adjust_num }}</span>
                {{#  } else if(d.direction == '卖出') { }}
                <span style="color: green;">{{ d.adjust_num }}</span>
                {{#  } else{ }}
                {{ d.adjust_num }}
                {{#  } }}
            </script>
        </div>
    </div>
</div>
<script type="text/javascript" src="{$Think.ADMIN_SITE_ROOT}/js/jquery.edit.js"></script>


<script>
    /**
     * Layer 通用ifram弹出窗口
     */
    function dsLayerOpen(url, title,width,height) {
        if (!width)	width = '500px';
        if (!height) height = '345px';
        layer.open({
            type: 2,
            title: title,
            area: [width,height],
            fixed: false, //不固定
            maxmin: true,
            content: url
        });
    }
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#news_addtime' //指定元素
        });
    });
</script>

<script>
    layui.use('form', function () {
        var form = layui.form;
    });

    layui.use('laydate', function(){
        var laydate = layui.laydate;
        laydate.render({
            elem: '#news_addtime'
        });
    });


</script>
<script>
    layui.use('table', function(){
        var table = layui.table;
        //方法级渲染
        table.render({
            elem: '#test'
            ,url: "{:url('monitor/getDailySignalList')}"
            ,cols: [[
                {field: 'id', title: '序号', style:'text-align: center;'}
                , {field: 'strategy_id', title: '策略ID', style:'text-align: center;'}
                , {field: 'strategy_name', title: '策略名称', style:'text-align: center;'}
                , {field: 'secu_code', title: '证券代码', style:'text-align: center;'}
                , {field: 'offset', title: '开平仓', style:'text-align: center;'}
                , {field: 'direction', title: '买卖方向', templet: '#direction', style:'text-align: center;'}
                , {field: 'price', title: '价格', style:'text-align: center;'}
                , {field: 'signal_time', title: '信号时间', style:'text-align: center;'}
            ]]
            ,id: 'test'
            ,page: false
            ,height:500
        });

        var $ = layui.$, active = {
            reload: function(){
                //执行重载
                table.reload('test', {
                    where: {
                    }
                }, 'data');
            }
        };

        var t2 = window.setInterval(function() {

            console.log('每隔1秒钟执行一次')
            var type = 'reload';
            active[type] ? active[type].call(this) : '';
        },5000)
    });
</script>
{/block}